<div class="bg-gray-50">
    <div class="relative pb-12 bg-gray-800">
        <div class="absolute inset-0">
            <img class="w-full h-full object-cover" src="/assets/spf-bg-1.jpg" alt="">
            <div class="absolute inset-0 bg-gray-500 mix-blend-multiply" aria-hidden="true"></div>
        </div>
        <div class="relative max-w-7xl mx-auto py-24 px-4 sm:py-32 sm:px-6 lg:px-8">
            <h2 class="pl-8">
                <span class="block text-yellow-100 font-normal text-md">February 26th and 27th</span>
                <span class="block font-thin text-4xl text-white tracking-tight">Lake Worth Beach</span>
                <span class="block uppercase text-4xl text-white tracking-tight font-extrabold">annual Street Painting
                    Festival</span>
                </h2>

            <div class="flex">
                <div class="mr-4 flex-shrink-0 self-center">
                    <img src="/assets/spf-logo.png" class="h-64 w-64">
                </div>
                <div class="pt-8 hidden md:block">
                    <div class="" x-data="beer()" x-init="start()">
                        <div class="text-purplebeach mt-1">
                            <div class="text-6xl text-center flex w-full items-center justify-center">
                                <div class="bg-white text-purplebeach rounded-lg p-14">
                                    <div class="font-mono font-bold leading-none" x-text="days">00</div>
                                    <div class="font-mono uppercase text-sm leading-none">Days</div>
                                </div>
                                <div class="bg-white text-purplebeach rounded-lg p-14 ml-2">
                                    <div class="font-mono font-bold leading-none" x-text="hours">00</div>
                                    <div class="font-mono uppercase text-sm leading-none">Hours</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <!-- <h1 class="text-4xl font-extrabold tracking-tight text-white md:text-5xl lg:text-6xl">Support</h1>
            <p class="mt-6 max-w-3xl text-xl text-gray-300">Varius facilisi mauris sed sit. Non sed et duis dui leo,
                vulputate id malesuada non. Cras aliquet purus dui laoreet diam sed lacus, fames. Dui, amet, nec sit
                pulvinar.</p> -->

        </div>
    </div>

    <!-- Overlapping cards -->
    <section class="-mt-32 max-w-7xl mx-auto relative z-10 pb-32 px-4 sm:px-6 lg:px-8"
        aria-labelledby="contact-heading">
        <h2 class="sr-only" id="contact-heading">Contact us</h2>
        <div class="grid grid-cols-1 gap-y-20 lg:grid-cols-3 lg:gap-y-0 lg:gap-x-8">
            <div class="flex flex-col bg-white rounded-2xl shadow-xl">
                <div class="flex-1 relative pt-16 px-6 pb-8 md:px-8">
                    <div
                        class="absolute top-0 p-5 inline-block bg-purplebeach rounded-xl shadow-lg transform -translate-y-1/2">
                        <!-- Heroicon name: outline/phone -->
                        <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                    </div>
                    <h3 class="text-xl font-medium text-gray-900">Frequently Asked Questions</h3>
                    <p class="mt-4 text-base text-gray-500">The Lake Worth Beach Annual Street Painting Festival is
                        February 26 & 27, 2022 in downtown Lake Worth Beach, Florida!  The festival starts at 10 A.M. on both
                        days.</p>
                </div>
                <div class="p-6 bg-gray-50 rounded-bl-2xl rounded-br-2xl md:px-8">
                    <a href="#faqs" class="text-base font-medium text-indigo-700 hover:text-indigo-600">View More<span
                            aria-hidden="true"> &rarr;</span></a>
                </div>
            </div>

            <div class="flex flex-col bg-white rounded-2xl shadow-xl">
                <div class="flex-1 relative pt-16 px-6 pb-8 md:px-8">
                    <div
                        class="absolute top-0 p-5 inline-block bg-purplebeach rounded-xl shadow-lg transform -translate-y-1/2">
                        <!-- Heroicon name: outline/support -->
                        <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">

                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M11 5.882V19.24a1.76 1.76 0 01-3.417.592l-2.147-6.15M18 13a3 3 0 100-6M5.436 13.683A4.001 4.001 0 017 6h1.832c4.1 0 7.625-1.234 9.168-3v14c-1.543-1.766-5.067-3-9.168-3H7a3.988 3.988 0 01-1.564-.317z" />
                        </svg>
                    </div>
                    <h3 class="text-xl font-medium text-gray-900">Main Stage</h3>
                    <p class="mt-4 text-base text-gray-500">Mainstage 2022 Sponsored by LWB Utilities <a
                            href="https://lakeworthbeachfl.gov/utilities/electric/"><img src="/assets/eulogo.png"
                                class="w-40 py-2 pl-4"></a></p>
                </div>
                <div class="p-6 bg-gray-50 rounded-bl-2xl rounded-br-2xl md:px-8">
                    <a href="#mainstage" class="text-base font-medium text-indigo-700 hover:text-indigo-600">Mainstage
                        Lineup<span aria-hidden="true"> &rarr;</span></a>
                </div>
            </div>

            <div class="flex flex-col bg-white rounded-2xl shadow-xl">
                <div class="flex-1 relative pt-16 px-6 pb-8 md:px-8">
                    <div
                        class="absolute top-0 p-5 inline-block bg-purplebeach rounded-xl shadow-lg transform -translate-y-1/2">
                        <!-- Heroicon name: outline/newspaper -->
                        <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">

                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                        </svg>
                    </div>
                    <h3 class="text-xl font-medium text-gray-900">Contact Us</h3>
                    <p class="mt-4 text-base text-gray-500">Information on becoming a Festival sponsor, artist,
                        volunteer or supporter of this unique performance art.</p>
                </div>
                <div class="p-6 bg-gray-50 rounded-bl-2xl rounded-br-2xl md:px-8">
                    <a href="#contactus" class="text-base font-medium text-indigo-700 hover:text-indigo-600">Contact us<span
                            aria-hidden="true"> &rarr;</span></a>
                </div>
            </div>
        </div>
    </section>
</div>
