<div class="bg-white">
    <div class="max-w-7xl mx-auto px-4 py-12 sm:px-6 lg:py-2 lg:px-8">
        <div class="grid grid-cols-3 gap-4">
            <div class="bg-purplebeach rounded-3xl">
                <a href="http://podcast.lakeworthbeachfl.gov/"><img class="rounded-3xl" src="/assets/pcast.png" alt="Lake Worth Beach Podcast"></a>
            </div>

            <div class="bg-mainblue rounded-3xl">
                <img class="rounded-3xl" src="/assets/olmt1.png" alt="Lake Worth Beach Podcast">
            </div>

            <div class="bg-purplebeach rounded-3xl">
                <img class="rounded-3xl" src="/assets/pcast.png" alt="Lake Worth Beach Podcast">
            </div>
          </div>
    </div>
  </div>
  